* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Codystar', cursive;
}

a.custom-link {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-decoration: none;
}

.home,
.about,
.hero-container,
.music,
.contact,
.mailing-list {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.about {
  background-image: url('./assets/images/Melech-tree.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.music {
  background-image: url('./assets/images/Melech2019.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  background-image: url('./assets/images/melech-smile.jpg');
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}



.mailing-list {
  background-image: url('./assets/images/melech-smile.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  display: flex;
  justify-content: flex-end;
}